@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #dcdcf4;
    font-family: 'Bellefair', serif;
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
}